nav {
    background-color: RGB(58, 103, 24);
    padding: 10px 60px;
    font-family: 'Poppins', sans-serif;
}

.navbar-brand {
    padding: 10px;
    height: auto;
    margin-left: 100px;
}

.nav {
    margin-right: 15px;
}

.nav-item-ult {
    margin-right: 100px;
}

.nav li a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    transition: 0.3s;
    display: inline-block;
    list-style: none;
    margin: 0px 0px 0px 5px;
}

.nav li a:hover {
    background-color: white;
    color: black;
}

.collapse-six{
    margin-top: 25px;
}

.collapse-seven{
    margin-top: 25px;
}

.footer{
    background-color: #90a653;
    position: relative;
}