* {
    margin: 0;
    padding: 0;
  }
  
  a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
  }
  

  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: RGB(58, 103, 24);
    height: 8vh;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    padding-top: 10px;
  }
  
  .nav-list li {
    letter-spacing: 2px;
    margin-left: 32px;
  }

  .nav-list li a:hover{
    background: white;
    color: black;
    padding: 10px;
    border-radius: 10px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }
  
  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: RGB(58, 103, 24);
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }

#quemsomos {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.281), rgba(0, 0, 0, 0.308)), url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.quem-somos .titulo {
    color: #fff;
    font-size: 3vw;
    font-weight: 600;
}

.quem-somos .sub_titulo {
    color: #fff;
    font-size: 58px;
    font-weight: 600;
}

.quem-somos .botoes {
    margin-top: 30px;
}

.quem-somos .botoes button {
    height: 55px;
    width: 170px;
    border-radius: 5px;
    border: 0;
    margin: 0 10px;
    font-size: 20px;
    font-weight: 500;
    padding: 0 10px;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
    font-family: 'Poppins', sans-serif;
}

.quem-somos .botoes button.n-overlay {
    color: white;
    background: none;
    border: 2px solid white;
}

.quem-somos .botoes button.n-overlay:hover {
    color: black;
    background-color: white;
}

.quem-somos .botoes button.overlay {
    background: white;
    color: black;
    animation: vibrar 0.5s ease-in-out infinite both;
}

.aboutus-section {
    padding: 90px 0;
}

.aboutus-title {
    font-size: 30px;
    letter-spacing: 0;
    line-height: 32px;
    margin: 0 0 39px;
    padding: 0 0 11px;
    position: relative;
    text-transform: uppercase;
    color: RGB(58, 103, 24);
}

.aboutus-title::after {
    background: RGB(58, 103, 24) none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 54px;
}

.aboutus-text {
    color: #606060;
    font-size: 13px;
    line-height: 22px;
    margin: 0 0 35px;
}

.aboutus-more {
    border: 2px solid RGB(58, 103, 24);
    border-radius: 5px;
    color: RGB(58, 103, 24);
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
    padding: 7px 20px;
    text-transform: uppercase;
    text-decoration: none;
}

.aboutus-more:hover {
    border: 1px solid RGB(58, 103, 24);
    background-color: RGB(58, 103, 24);
    color: white;
}

.aboutus-banner {
    text-align: center;
}

.faq {
    background-color: #90a653;
}

.text-faq {
    color: black;
}

.btn-faq {
    background-color: RGB(58, 103, 24);
    border: RGB(58, 103, 24) 2px solid;
    color: white;
}

.btn-faq:hover {
    background-color: #90a653;
    border: white 1px solid;
    color: white;
}

.btn-margin {
    margin-right: 10px;
}

.btn-faq-div {
    margin-top: 70px;
}

.section-contact {
    padding: 100px 0;
    position: relative;
}

.gray-bg {
    background-color: white;
}

/* Contact Us
---------------------*/
.contact-name {
    margin-bottom: 30px;
}

.contact-name h5 {
    font-size: 22px;
    color: RGB(58, 103, 24);
    margin-bottom: 5px;
    font-weight: 600;
}

.contact-name p {
    font-size: 18px;
    margin: 0;
    color: #606060;
}

.social-share a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    
    text-align: center;
    margin-right: 10px;
}

.contact-form .form-control {
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    border-radius: 0;
    padding-left: 0;
    box-shadow: none !important;
}

.contact-form .form-control:focus {
    border-bottom: 1px solid rgb(190, 240, 153);
}

.contact-form .form-control.invalid {
    border-bottom: 1px solid #ff0000;
}

.contact-form .send {
    margin-top: 20px;
}

@media (max-width: 767px) {
    .contact-form .send {
        margin-bottom: 20px;
    }
}

.section-title h2 {
    font-weight: 700;
    color: rgba(58, 103, 24);
    font-size: 45px;
    margin: 0 0 15px;
    border-left: 5px solid rgb(190, 240, 153);
    padding-left: 15px;
}

.section-title {
    padding-bottom: 45px;
}

.contact-form .send {
    margin-top: 20px;
}

.px-btn {
    padding: 0 50px 0 20px;
    line-height: 60px;
    position: relative;
    display: inline-block;
    color: RGB(58, 103, 24);
    background: none;
    border: none;
}

.px-btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 30px;
    background: transparent;
    border: 1px solid RGB(58, 103, 24);
    border-right: 1px solid transparent;
    -moz-transition: ease all 0.35s;
    -o-transition: ease all 0.35s;
    -webkit-transition: ease all 0.35s;
    transition: ease all 0.35s;
    width: 60px;
    height: 60px;
}

.px-btn .arrow {
    width: 13px;
    height: 2px;
    background: currentColor;
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 25px;
}

.px-btn .arrow:after {
    width: 8px;
    height: 8px;
    border-right: 2px solid currentColor;
    border-top: 2px solid currentColor;
    content: "";
    position: absolute;
    top: -3px;
    right: 0;
    display: inline-block;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.footer{
    background-color: #90a653;
}


body {
	font-family: "Open Sans", sans-serif;
}

.carousel {
	width: 650px;
	margin: 0 auto;
	padding-bottom: 50px;
}
.carousel .carousel-item {
	color: #999;
	font-size: 14px;
	text-align: center;
	overflow: hidden;
	min-height: 340px;
}
.carousel .carousel-item a {
	color: #eb7245;
}
.carousel .img-box {
	width: 145px;
	height: 145px;
	margin: 0 auto;
	border-radius: 50%;
}
.carousel .img-box img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}
.carousel .testimonial {	
	padding: 30px 0 10px;
}
.carousel .overview {	
	text-align: center;
	padding-bottom: 5px;
}
.carousel .overview b {
	color: #333;
	font-size: 15px;
	text-transform: uppercase;
	display: block;	
	padding-bottom: 5px;
}
.carousel .star-rating i {
	font-size: 18px;
	color: #ffdc12;
}
.carousel-control-prev, .carousel-control-next {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #999;
	text-shadow: none;
	top: 4px;
}
.carousel-control-prev i, .carousel-control-next i {
	font-size: 20px;
	margin-right: 2px;
}
.carousel-control-prev {
	left: auto;
	right: 40px;
}
.carousel-control-next i {
	margin-right: -2px;
}
.carousel .carousel-indicators {
	bottom: 15px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 11px;
	height: 11px;
	margin: 1px 5px;
	border-radius: 50%;
}
.carousel-indicators li {	
	background: #e2e2e2;
	border: none;
}
.carousel-indicators li.active {		
	background: #888;		
}

.depoiments h2{
    text-align: center;
    margin: 30px 0px 30px 0px;
    text-transform: uppercase;
}


.btn-primary-cont{
    color: white;
    background-color: #90a653;
    border: none;
}

.btn-primary-cont:hover{
    color: white;
    background-color: RGB(58, 103, 24);
    border: none;
}

.form-group .error {
    color: red;
    font-size: 0.875em;
    margin-top: 5px;
}

.app-index{
    background-color: #F8F8F8;
    margin-bottom: 30px;
    padding: 20px;
}

.app-index h2{
    padding-left: 10px;
    text-transform: uppercase;
    color: #656F38;
    border-left: 2px #656F38 solid;
}

.app-index p{
    margin-top: 20px;
    font-size: 1vw;
    text-align: justify;
}

.app-index button{
    background-color: #90a653;
    padding: 15px 602px 15px 602px;
    text-align: center;
    border: none;
    border-radius: 5px;
    color: white;
}

.div-button{
    margin-top: 40px;
}